body{
    background-color: #80808050;
}
h1{
    color:#0000ff;
}
.textoenlace{
    color: #ff000080;
    background-color: #808080;
}
.link{
    color:#008000;
}
.lista{
    color: #008000;
    text-decoration:  underline;

}